@media (min-width: 1200px){
    nav ul {
        display: flex; 
        list-style: none; 
        margin: 0; 
        padding: 0; 
        justify-content: center; 
        margin-right: 120px;
    }

}

@media (max-width: 1200px) {
    nav {
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        width: 100%;
    }

    #sign-out {
    display: block; 
    width: 100%; 
    text-align: center; 
    margin-top: 0.5rem;
    }
}